<div class="container">
  <div class="menu">
    {{#link-to "scientists" class="menu-button"}}
      Home
    {{/link-to}}
    {{#link-to "about" class="menu-button"}}
      About
    {{/link-to}}
    {{#link-to "contact" class="menu-button"}}
      Contact
    {{/link-to}}
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
